# Week 1, Day 4

**In this class we will learn about:**
- Tuples
- Lists
- Dictionaries

## Tuples

A Tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets. The values can be repeated, but their number is always finite.

In [2]:
# Is this a tuple?
t1 = ("Apple", "Banana", "Grapes")
type(t1)

tuple

In [3]:
# Is this a tuple
#t2 = ("Apple")
#type(t2)

str

In [9]:
# make a longer tuple
color = ("Red", "Balck","Green","White","Purple")

# print the first item in that tuple 
color[0]

'Red'

In [13]:
#print a the first second and third items in the tuple
color[0:3]

('Red', 'Balck', 'Green')

In [14]:
#re-assign the second item to a letter

color[1]= "Blue" #tuple cannot be reassign

TypeError: 'tuple' object does not support item assignment

In [16]:
# make a tuple with strings

strTuple = ('apple', 'banana', 'cherry')

In [17]:
type(strTuple)

tuple

### Excercise 1: 
1.   create a tuple with your favorite hobbies, tv shows, etc. ordered by your highest favorit to the lowest
2.   access the last item in the tuple and print it out
3. print out the last item in the tuple in the following formating --> " My least favorite hobby is -----"

In [20]:
#create a tuple with your favorite hobbies, tv shows, etc. ordered by your highest favorit to the lowest
myhobbies = ("Sleeping","TV shows","Reading","Drawing",)
#access the last item in the tuple and print it out
myhobbies[-1]

'Drawing'

In [21]:
#print out the last item in the tuple
print("My least favorite hobby is" + " "+myhobbies[-1])

My least favorite hobby is Drawing

## Lists

Lists are used to store multiple items in a single variable. Lists are one of 4 built-in data types in Python used to store collections of data. They are created using square brackets

In [28]:
#make some \
strlist = ["Shyam","Jeeban","Rasi"]

In [29]:
# Check if item in a list
"Shyam" in strlist

True

### List operatoins

In [39]:
# make some numerical lists
a=[10, 5, 0]
b= [0, 4 ,8]

In [40]:
#Multiply a list by a number?
a * 2

[10, 5, 0, 10, 5, 0]

In [41]:
#Add two lists together?
a + b

[10, 5, 0, 0, 4, 8]

In [42]:
# Mulitply the first item in a by 5
a[0]*5

50

In [43]:
#Reassign the first item in a to be that same number * 5
a[0]= a[0] *5

In [44]:
#check
a

[50, 5, 0]

### Lists slices

In [55]:
# create a list of strings
fruits = ["apple","banana","orange","Grapes","lemon","leeche"]

In [56]:
#what is the last item of the list
fruits[-1]

'leeche'

In [60]:
#get the items at positions 2 and 4
fruits[1:5:2]

['banana', 'Grapes']

### List methods (append, extend, sort, pop, and remove)

In [73]:
#have a list to work with

['apple',
 'banana',
 'orange',
 'Grapes',
 'lemon',
 'leeche',
 'blueberry',
 'blueberry',
 'blueberry',
 'blueberry']

In [74]:
#appending
fruits.append("blueberry")
print(fruits)

['apple', 'banana', 'orange', 'Grapes', 'lemon', 'leeche', 'blueberry', 'blueberry', 'blueberry', 'blueberry', 'blueberry']

In [76]:
#make another list 
strLyst = ["Jack","Jenny","Jeshper","Jhon"]

In [77]:
#extending
#extending means appending but aading a whole list 
fruits.extend(strLyst)
print(fruits)

['apple', 'banana', 'orange', 'Grapes', 'lemon', 'leeche', 'blueberry', 'blueberry', 'blueberry', 'blueberry', 'blueberry', 'Jack', 'Jenny', 'Jeshper', 'Jhon']

In [90]:
#sorting
unsortedLyst = ['Jake', 'John', 'Mike', 'Grace', 'Riley', "Abby", 'Zion']

In [91]:
unsortedLyst.sort()
sortedLyst = unsortedLyst
unsortedLyst
print(sortedLyst)

['Abby', 'Grace', 'Jake', 'John', 'Mike', 'Riley', 'Zion']

In [92]:
#delteing
sortedLyst

['Abby', 'Grace', 'Jake', 'John', 'Mike', 'Riley', 'Zion']

In [93]:
#pop()
#pop shows the last time that is being  deleted 
sortedLyst.pop()

'Zion'

In [94]:
#pop at a specific position (position 2)[not the same as 2nd item]

print(sortedLyst)

['Abby', 'Grace', 'Jake', 'John', 'Mike', 'Riley']

In [95]:
#pop position 1
sortedLyst.pop(0)

'Abby'

In [96]:
#pop the first thing in the list
sortedLyst.pop(0)

'Grace'

In [97]:
#resetting the list
sortedLyst = unsortedLyst
sortedLyst

['Jake', 'John', 'Mike', 'Riley']

In [98]:
#assign the popped item
poppedItem = sortedLyst.pop()
poppedItem

'Riley'

In [99]:
# Remove
sortedLyst.remove("Mike")

In [100]:
sortedLyst

['Jake', 'John']

checking the length of the list

### Excercise 2:
1. create a list of the courses you took last year
2. create a list of the courses you will take next year
3. Add the lists together
4. print the 3rd item of the new list
5. print the middle 3 values using slicing
6. delete one of the items in the list and assign it to a new variable
7. can you add the deleted item back using append?
8. sort the courses
9. let's say you found a mistake in the list, can you update it?
10. **BIG TASK:** 
  - add an input statement to check if the course is in your lists, 
  - **if** the course is in last years list, print out ("I took this course last year") 
  - **elif** it was in the next year list, print out ("I will take it next year") 
  - **else** print out, ("this course is not in my lists")

In [171]:
#create a list of the courses you took last year
last_course = ["Stat","Bio","Wrtg","Math"]

In [172]:
#reate a list of the courses you will take next year
next_course = ["Coding","Bio2","Stat2","Histroy"]

In [173]:
# Add the lists together
new_list = last_course + next_course
print(new_list)

['Stat', 'Bio', 'Wrtg', 'Math', 'Coding', 'Bio2', 'Stat2', 'Histroy']

In [174]:
#print the 3rd item of the new list
new_list[2]

'Wrtg'

In [175]:
#print the middle 3 values using slicing
new_list[2:5]

['Wrtg', 'Math', 'Coding']

In [176]:
#delete one of the items in the list and assign it to a new variable
removed_item = new_list.pop(-1)
print(removed_item)

Histroy

In [177]:
#can you add the deleted item back using append?
new_list.append(removed_item)
print(new_list)

['Stat', 'Bio', 'Wrtg', 'Math', 'Coding', 'Bio2', 'Stat2', 'Histroy']

In [179]:
#sort the courses
new_list.sort()
print(new_list)

['Bio', 'Bio2', 'Coding', 'Histroy', 'Math', 'Stat', 'Stat2', 'Wrtg']

In [183]:
#add an input statement to check if the course is in your lists,
course_name = input("Enter a course name")

Enter a course nameBio

In [184]:
if course_name in last_course:
    print("I took this last year")
elif course_name in next_course:
    print("I will take this next year")
    
else:
    print("this course is not in my lists")

I took this last year

# Dictionaries

Dictionaries are used to store data values in key:value pairs. Dictionaries cannot have two items with the same key.

Dictionary items are ordered, changeable, and do not allow duplicates. Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [1]:
#make an empty dictionary
#myCar ={}
#or
myCar = dict()
print(myCar)

{}

In [2]:
#check the type
type(myCar)

dict

In [3]:
#make a dicitonary about a car
myCar={
       "brand": "SUV",
       "color" : "red",
        "model": "2018, Toy"
}

In [4]:
myCar

{'brand': 'SUV', 'color': 'red', 'model': '2018, Toy'}

In [5]:
#get the brand of the car
myCar['brand']

'SUV'

In [8]:
"color" in myCar

True

In [9]:
# make a new dictionary key:value pair assigning a name to the car 
myCar['nickname']= 'Randy'
myCar

{'brand': 'SUV', 'color': 'red', 'model': '2018, Toy', 'nickname': 'Randy'}

In [10]:
#return out all of the dictionary values
myCar.values()

dict_values(['SUV', 'red', '2018, Toy', 'Randy'])

In [11]:
#return all of the dictionary keys
myCar.keys()

dict_keys(['brand', 'color', 'model', 'nickname'])

In [12]:
#change the color of the car
myCar['color']= "Black"
myCar

{'brand': 'SUV', 'color': 'Black', 'model': '2018, Toy', 'nickname': 'Randy'}

In [14]:
#return all the items in the dictionary
myCar.values()

dict_values(['SUV', 'Black', '2018, Toy', 'Randy'])

In [15]:
#get rid of the name of the car
myCar.pop('nickname')
myCar

{'brand': 'SUV', 'color': 'Black', 'model': '2018, Toy'}

In [16]:
#clear the dictionary
myCar.clear()
myCar

{}

### Excercise 3:
1. create a dictionary of an item you own
2. Print out the dictionary keys
3. print out the dicionary values
4. add a key, value pair to the dictionary (another information about your object)
5. update one of the items in the dictionary
6. **BIG TASK:** 
  - add an input statement to read a key, and another one to read a value. The
  - **if** the key is in the dictionary, update the current value. **else** create a new key value pair using the input informtion
  - print out everything!

In [20]:
#create a dictionary of an item you own
myPhone = {
    "Brand" : "Iphone",
    "Color" : "Red",
    "Model" : "14 Plus"
}

In [21]:
#Print out the dictionary keys
myPhone.keys()

dict_keys(['Brand', 'Color', 'Model'])

In [22]:
#print out the dicionary values
myPhone.values()

dict_values(['Iphone', 'Red', '14 Plus'])

In [25]:
#add a key, value pair to the dictionary (another information about your object)
myPhone["year"]= '2024'
myPhone

{'Brand': 'Iphone', 'Color': 'Red', 'Model': '14 Plus', 'year': '2024'}

In [33]:
#add an input statement to read a key, and another one to read a value. The
read_key = input("enter a key ")
read_value = input('enter a value ')

enter a key nickname
enter a value mylove

In [34]:
#if the key is in the dictionary, update the current value. else create a new key value pair using the input informtion
if read_key in myPhone:
    myPhone["New value"]= read_key
    
else:
    myPhone[read_key]= read_value
    
myPhone

{'Brand': 'Iphone',
 'Color': 'Red',
 'Model': '14 Plus',
 'year': '2024',
 'New value': 'Brand',
 'nickname': 'mylove'}