## Week 2 Day 1 - Loops
- While loops
- For loops
- nested loops
- strings
- dictionaries

### Updating variables

In [1]:
# make a variable
x = 5
#add one to it
x = x + 1

#check
print (x)

6

In [18]:
#subtract
x -= 1

In [19]:
#multiply
x *= 2
print(x)

10

### While loop

A while loop is a control flow statement that allows code to be executed repeatedly based on a given Boolean condition. The while loop can be thought of as a repeating if statement. 

With the **break** statement we can stop the loop even if the while condition is true. 

With the **continue** statement we can stop the current iteration, and continue with the next.

With the **else** statement we can run a block of code once when the condition no longer is true

In [3]:
#define a variable 

n = 5
#make a while loop to print n while it is greater than 0 and subtract one wiht every loop
while n>0:
    print(n)
    n-=1
#print blastoff when done
print('Blastoff')

5
4
3
2
1
Blastoff

In [6]:
#make a counter
counter = 0

#define another variable 
mVar = 1


#while the counter is less than or equal to 10
while counter <= 10: 
    counter += 1

    # mutliply the variable by the counter
    mVar *= counter

    #print the both variables
    print("counter: ", counter)
    print("variable: ", mVar)

counter:  1
variable:  1
counter:  2
variable:  2
counter:  3
variable:  6
counter:  4
variable:  24
counter:  5
variable:  120
counter:  6
variable:  720
counter:  7
variable:  5040
counter:  8
variable:  40320
counter:  9
variable:  362880
counter:  10
variable:  3628800
counter:  11
variable:  39916800

In [8]:
#make a new while loop that allows for input
#when the user types 'done' break the loop
#print 'Done!' when broken
#make a new while loop that allows for input
while True:
    line = input('Type here: ')

#when the user types 'done' break the loop
    if line == 'done':
        break

    print(line)


#print 'Done!' when broken
print("Done!")

Type here: Monday
Monday
Type here: Done
Done

KeyboardInterrupt: Interrupted by user

In [ ]:
#make a new while loop that allows for input
# if the first thing in the line is a # continue
# if they type 'done' break
#print 'Done!' when broken

## Excercise1:
 
write an input statement assigned to a specific value. Then make a while loop to read a number and print out the even values between 0 and the inserted number

In [11]:
# Step 1: input statement assigned to a value
num = int(input("Enter a number: "))

# Step 2: while loop to print even numbers from 0 to num
counter = 0

while counter <= num:
    if counter % 2 == 0:
        print(counter)
    counter += 1

Enter a number: 4
0
2
4

## For loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

Even **strings** are iterable objects, they contain a sequence of characters

With the **break** statement we can stop the loop before it has looped through all the items

With the **continue** statement we can stop the current iteration of the loop, and continue with the next

To loop through a set of code a specified number of times, we can use the **range()** function.
The **range()** function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number. The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 ***(but not including 6)***. The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3). 

The **enumerate()** method adds a counter to an iterable and returns it in the form of an enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.

The **else** keyword in a for loop specifies a block of code to be executed when the loop is finished

In [12]:
#lets make a list of names
friends = ['sally', 'dave', 'margot']

#lets iterate through the list of friends 
# print out, 'Happy New Year,...' to every friend
for friend in friends:
    print("Happy New Year,", friend)
    
    
print('Done!')

Happy New Year, sally
Happy New Year, dave
Happy New Year, margot
Done!

In [13]:
     # iterative variable is each value we go thrug while running the code
#make a counter that increases each iteration and counts how many 
# values are in the list
# 99,40,13,107,45

count = 0

for itervar in [99,40,13,107,45]:
    count = count + 1

print('Count:', count)

Count: 5

In [14]:
#using range(), make a for loop that iterates 10 times
for number in range(10):
        print(number)

0
1
2
3
4
5
6
7
8
9

In [17]:
# lets find the largest number in a list of numbers
largest = 0

for itervar in [99,40,80,13,107,45,80]:
    if itervar > largest:
        largest = itervar

print(largest)

107

In [20]:
# lets make a list of list
mylist = [
    ["Martin",21,"INFO"],
    ["Alex",25,"BIO"],
    ["Kit",23,"ENG"]
    ]

In [21]:
#make a for loop that assignes a variable for each position in the second level list
#print each variable 
for student in mylist:
    name, age, major = student

    print(name)
    print(age)
    print(major)

Martin
21
INFO
Alex
25
BIO
Kit
23
ENG

In [22]:
# get the first item in each sublist
for student in mylist:
        print(student[0])

Martin
Alex
Kit

In [25]:
#using enumerate (), iterate throuhg a list and print out the counter
newLyst = [ 23,45,89,22]

for counter, value in enumerate(newLyst):
    print("position:", counter)
    print('value:', value)

position: 0
value: 23
position: 1
value: 45
position: 2
value: 89
position: 3
value: 22

In [31]:
#make a list of lists of numbers
num_list = [[1973, 25 , 54] ,[1978, 25, 50], [2003, 2007, 2010] ]
#iterate through both levels of lists using a nested for loop
for i in num_list: 
    subSum = 0
    print(i)

    for j in i: 
        
    # add up all of the numbers in each sub list
        subSum += j
        print(subSum)

[1973, 25, 54]
1973
1998
2052
[1978, 25, 50]
1978
2003
2053
[2003, 2007, 2010]
2003
4010
6020

In [32]:
# make two lists
# using nested for loops, after every variable in lyst 1 print the varible in the second list

lyst1 = ['a', 'b','c','d']
lyst2  = [1,2,3]

# using nested for loops,
for i in lyst1:
    # after every variable in lyst 1 
    print(i)

    # print the varibles in the second list
    for j in lyst2:
        print(j)

a
1
2
3
b
1
2
3
c
1
2
3
d
1
2
3

### Excercise 2
1. Write a loop that reads a set of values and appends them to a list.
2. sort the values in the list
3. Print out the list using a for loop in the following formatting.
  - item 1: -----

In [35]:
#  Create an empty list
my_list = []

# Use a loop to read 5 values
for i in range(5):
    value = input("Enter a value: ")
    my_list.append(value)

# Step 2: Sort the list
my_list.sort()

KeyboardInterrupt: Interrupted by user

## Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.'hello' is the same as "hello".

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

Since strings are arrays, we can loop through the characters in a string, with a for loop.

To check if a certain phrase or character is present in a string, we can use the keyword **in**. To check if a certain phrase or character is NOT present in a string, we can use the keyword **not in**.


To check if a certain phrase or character is present in a string, we can use the keyword in.

**Methods**
- len()
- upper()
- find()
- startswith()
- strip()
- rstrip()
- replace()

In [37]:
# make a string variable
mynameis = "Jenisha"

In [38]:
#get the first letter in that string
mynameis[0]

'J'

In [39]:
#get the last letter in that string
mynameis[-1]

'a'

In [40]:
#get the length of the string
len(mynameis)

7

In [41]:
#use a for loop and print every letter in that string
for char in mynameis:
    print(char)

J
e
n
i
s
h
a

In [43]:
#try to reassign the first letter in a string
mynameis[0] = 'R'

TypeError: 'str' object does not support item assignment

In [44]:
#check if a sub string is a part of a string

slogan = 'Sko Buffs'

In [45]:
#make the string all uppercase
mynameis.upper()

'JENISHA'

In [46]:
#find at what index a letter is in a string

charIndex = mynameis.find('i')
charIndex

3

In [47]:
# will get me the index of the passed value
mystring = "Hello my name is Jenisha"
mystring.find("is")

14

In [48]:
#check if the string starts with a specific char.
mystring.startswith("Hello")

True

### lists and strings
- split
- join

In [49]:
#check string
mystring

'Hello my name is Jenisha'

In [50]:
# convert a string to a list
mystringList = mystring.split()
mystringList

['Hello', 'my', 'name', 'is', 'Jenisha']

In [51]:
#use .join to add to every string in the string list

"cat".join(mystringList)

'HellocatmycatnamecatiscatJenisha'

## Excercise 3

str = 'X-DSPAM-Confidence:0.8475'

Use find and string slicing to extract the portion of the string after the
colon character and then use the float function to convert the extracted
string into a floating point number.

## Looping and dictionaries

Remember: 
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are written with curly brackets, and have keys and values.

ex: counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}


**with for loops** 

You can loop through a dictionary by using a for loop.
When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

The **get()** method returns the value of the item with the specified key.

In [54]:
# make a dictionary
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}


# print the value of every key

for key in counts:
    print(key, counts[key])

chuck 1
annie 42
jan 100

In [55]:
 for key, values in counts.items():
        print(key, values)

chuck 1
annie 42
jan 100

In [57]:
#make a dicitonary of letters in a string and how many of those letters there are

word = 'brontosaurus'

d = {}
# d = dict()

#list of letters

for letter in word:
    if letter in d:
        d[letter]  = d[letter] + 1

    else:
        d[letter] = 1

print(d)

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

counting characters using get

In [58]:
# with '.get()' do the same thing
for letter in word:
    d[letter]= d.get(letter, 0)+1

In [59]:
#print the items of a dictionary in alphabetical order
ounts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}

#organize the keys by alphabetical
lyst = list(counts.keys())
lyst.sort()

print(lyst)


#print the key:value (items) in alphabetical
for key in lyst: 
    print(key, counts[key])

['annie', 'chuck', 'jan']
annie 42
chuck 1
jan 100

## Putting it all together

**Excercise**
- Create a dictionary with four grocery items and their prices
- Using input, read items and store them in a list
- Print out the total price of the inserted items

In [64]:
#Create a dictionary with four grocery items and their prices
Veggi = {
    "Potato" : 56,
    "Onion"  :63,
    "Tomato" : 50
}

In [69]:
#Using input, read items and store them in a list
lmy_list = []   # start empty

for i in range(3):
    item = input("Enter a vegetable name: ")
    my_list.append(item)

#Calculate total price
total = 0
for item in my_list:
    # check if the item exists in dictionary to avoid errors
    if item in Veggi:
        total += Veggi[item]
    else:
        print("Item is not in the grocery list!")

print("Your grocery items:", my_list)
print("Total price:", total)

Enter a vegetable name: Tomato
Enter a vegetable name: Onion
Enter a vegetable name: Potato
Item is not in the grocery list!
Item is not in the grocery list!
Item is not in the grocery list!
Your grocery items: ['potato', 'tomato', 'onion', 'Potato', 'Onion', 'Tomato', 'Onion', 'Potato', 'Tomato', 'Tomato', 'Onion', 'Potato', 'Tomato', 'Onion', 'Potato']
Total price: 676