# Week 2 Summary Activity

## Problem 1 - Dictionaries

In [1]:
student_dictionary = { 101 : {'Name': 'George Bluth',
                              'AverageScore': 85,
                               'Year' : 2,
                              'Class' : 'INFO1201'
                              },
                     102 : {'Name': 'Lucille Bluth',
                              'AverageScore': 100,
                               'Year' : 3,
                              'Class' : 'INFO1201'
                              },
                     103 : {'Name': 'George Michael Bluth',
                              'AverageScore': 98,
                               'Year' : 1,
                              'Class' : 'INFO1101'
                              },
                     104 : {'Name': 'Michael Bluth',
                              'AverageScore': 90,
                               'Year' : 5,
                              'Class' : 'INFO2201'
                              },
                     105 : {'Name': 'Gob Bluth',
                              'AverageScore': 40,
                               'Year' : 8,
                              'Class' : 'INFO1101'
                              },
                     106 : {'Name': 'Lindsay Bluth',
                              'AverageScore': 70,
                               'Year' : 4,
                              'Class' : 'INFO1201'
                              },
                     107 : {'Name': 'Buster Bluth',
                              'AverageScore': 95,
                               'Year' : 2,
                              'Class' : 'INFO1201'
                              },
                     108 : {'Name': 'Sally Sitwell',
                              'AverageScore': 93,
                               'Year' : 2,
                              'Class' : 'INFO1201'
                              }}

#### Question 1:
Iterate through the dictionary and print out students names and their average score
Ex: Lucille Bluth : 98

In [6]:
for i in student_dictionary:
    student_info = student_dictionary[i]
    name = student_info['Name']
    score = student_info['AverageScore']
    
    print( name, ":", score)

George Bluth : 85
Lucille Bluth : 100
George Michael Bluth : 98
Michael Bluth : 90
Gob Bluth : 40
Lindsay Bluth : 70
Buster Bluth : 95
Sally Sitwell : 93

#### Question 2:
Find the student with the highest average score

In [9]:
Largest = 0
for i in student_dictionary:
    student_info = student_dictionary[i]
    score = student_info['AverageScore']
    
    if score > Largest:
        Largest = score
        Tooper_name = student_info['Name']
print("The student with the higest average score is :",Tooper_name,Largest)

The student with the higest average score is : Lucille Bluth 100

#### Question 3:
Find the total average of all the students

In [13]:
total = 0
count = 0
for i in student_dictionary:
    student_info = student_dictionary[i]
    score = student_info['AverageScore']
    total += score
    count +=1
    
    Average = total / count
print( "Total average is", Average)

Total average is 83.875

## Problem 2 - Functions

Create a function to read two six-sided dice, each with faces containing one, two, three, four, five and six spots, respectively. When the dice come to rest, the sum of the spots on the two upward faces is calculated. If the sum is 7 or 11 on the first roll, you win. If the sum is 2, 3 or 12 on the first roll (called “craps”), you lose (i.e., the “house” wins). If the sum is 4, 5, 6, 8, 9 or 10 on the first roll, that sum becomes your “point.” To win, you must continue rolling the dice until you “make your point” (i.e., roll that same point value). You lose by rolling a 7 before making your point.

In [32]:
import random
def two_dice():
    dice1 = random.randint(1, 6)
    dice2 = random.randint(1, 6)
    sum = dice1 + dice2
    print("You rolled:", dice1, "+", dice2, "=", sum)

    # Check first roll
    if sum == 7 or sum == 11:
        print("You win!")
    elif sum == 2 or sum == 3 or sum == 12:
        print("You lose (craps)")
    else:
        point = sum
        print("Your point is:", point)
        # Keep rolling until win or lose
        while True:
            dice1 = random.randint(1, 6)
            dice2 = random.randint(1, 6)
            sum = dice1 + dice2
            print("You rolled:", dice1, "+", dice2, "=", sum)

            if sum == point:
                print("You made your point! You win!")
                break
            elif sum == 7:
                print("You rolled a 7 before making your point. You lose.")
                break
                
                #call the function
two_dice()

You rolled: 3 + 6 = 9
Your point is: 9
You rolled: 2 + 2 = 4
You rolled: 5 + 1 = 6
You rolled: 3 + 5 = 8
You rolled: 2 + 1 = 3
You rolled: 2 + 2 = 4
You rolled: 2 + 5 = 7
You rolled a 7 before making your point. You lose.

## Problem 3 - Classes

#### Question 1:

Build a class object for restaurant informatoin. The class should have the following:
1.   A method that reads dishes and append them to a list or a dictionary
2.   A method that prints out the saved dishes

In [43]:
#creating a class
class RestaurantInfo():
    #a method to read the dishes
    def __init__(self): 
        self.dishes = ["Pizza","Burger","Fries"]
    # append
    def add_dish( self, new_dish):
        self.dishes.append(new_dish)
        
    #method that prints out the saved dishes
    def SavedDish(self):
        for dish in self.dishes:
            print("Current dishes on the menu:", dish)

#### Question 2:

create a class instance

In [48]:
my_restaurant = RestaurantInfo()

#### Question 3:
use the two methods you created

In [49]:
my_restaurant.add_dish("Good Old Burgers")
my_restaurant.SavedDish()

Current dishes on the menu: Pizza
Current dishes on the menu: Burger
Current dishes on the menu: Fries
Current dishes on the menu: Good Old Burgers

#### Question 4:

update a value you have in the class instance you created

In [51]:
my_restaurant.dishes[0]= "Chicken salad"

In [53]:
my_restaurant.SavedDish()

Current dishes on the menu: Chicken salad
Current dishes on the menu: Burger
Current dishes on the menu: Fries
Current dishes on the menu: Good Old Burgers